



$primary-100: #012a4aff;
$primary-90: #013a63ff;
$primary-80: #01497cff;
$primary-70: #014f86ff;
$primary-60: #2a6f97ff;
$primary-50: #2c7da0ff;
$primary-40: #468fafff;
$primary-30: #61a5c2ff;
$primary-20: #89c2d9ff;
$primary-10: #a9d6e5ff;

$english-vermillion-dark:#b43138;
$english-vermillion: #cc444bff;
$indian-red: #da5552ff;
$candy-pink: #df7373ff;
$pastel-pink: #e39695ff;
$pastel-pink-2: #e4b1abff;
$pastel-pink-3: #f6e8ea70;
$pastel-pink-4: #f6e8ea;
$success: #008D4C;

/* background colors */
$background-0: #F7FAFC;
$background-1: #EDF2F7;
$background-2: #F7FAFC;
$background-3: #E2E8F0;
$background-4: #f6f8fe;
$background-success: #e6f4ed;
$background-error: #faeced;

/*basic colors */
$black: #191b1d;
$black-full: #000;
$white: #fff;
$white-shade: #f7f7f8;
$gray: #edf0ef;
$neutral: #f4f6f8;
$baby-blue: #BEFBFF;

/*rebranding new colors */
$background-success: #DBFB9A60;
$background-warning: #FFD38044;
$background-error: #F35B0436;

/*tints and shades of green*/
$green-100: #f8feeb;
$green-200: #f4fee1;
$green-300: #f1fdd7;
$green-400: #edfdcd;
$green-500: #e9fdc2;
$green-600: #e6fcb8;
$green-700: #e2fcae;
$green-800: #dffba4;
$green-900: #dbfb9a;

/*tints and shades of red*/
$red-100: #feeff0;
$red-200: #fcced2;
$red-300: #fbbdc3;
$red-400: #faadb4;
$red-500: #f89da5;
$red-600: #f78c96;
$red-700: #f67c87;
$red-800: #f56b78;
$red-900: #f45b69;

/*tints and shades of blue*/
$blue-100: #fafeff;
$blue-200: #f4fcff;
$blue-300: #effbff;
$blue-400: #e9f9ff;
$blue-500: #e4f8ff;
$blue-600: #dff6ff;
$blue-700: #d9f5ff;
$blue-800: #d4f3ff;
$blue-900: #c9f0ff;

/*tints and shades of yellow*/
$yellow-100: #fffff5;
$yellow-200: #ffffea;
$yellow-300: #fefee0;
$yellow-400: #fefed5;
$yellow-500: #fefecb;
$yellow-600: #fefec0;
$yellow-700: #fefeb6;
$yellow-800: #fdfdab;
$yellow-900: #fdfd96;