$blue-dark: #0f7e89;
$pink-100: #ffd2d2 ;
$blue-80: #44c3d0 ;
$blue-60: #73d2dc ;
$blue-40: #a1e1e7 ;
$blue-20: #d0f0f3 ;
$blue-0: #e8f8f9;

$red-darker: #e69d3b;
$red-100:#FFAE42;
$red-90: #faaf7d;
$red-80: #fab88b;
$red-70: #fbc19a;
$red-60: #fbcaa8;
$red-50: #fcd3b7;
$red-40: #fddbc5;
$red-30: #fde4d4;
$red-20: #feede2;
$red-10: #fef6f1;


$black: #2f4f4f;
$black-shade: #363636;
$white-shade: #f7f7f8;
$white: #fff;
$gray: #e8e8e8;

$primary-100: #012a4aff;
$primary-90: #013a63ff;
$primary-80: #01497cff;
$primary-70: #014f86ff;
$primary-60: #2a6f97ff;
$primary-50: #2c7da0ff;
$primary-40: #468fafff;
$primary-30: #61a5c2ff;
$primary-20: #89c2d9ff;
$primary-10: #a9d6e5ff;

$english-vermillion-dark:#b43138;
$english-vermillion: #cc444bff;
$indian-red: #da5552ff;
$candy-pink: #df7373ff;
$pastel-pink: #e39695ff;
$pastel-pink-2: #e4b1abff;
$pastel-pink-3: #f6e8ea70;
$pastel-pink-4: #f6e8ea;
$success: #008D4C;

/* background colors */
$background-0: #F7FAFC;
$background-1: #EDF2F7;
$background-2: #F7FAFC;
$background-3: #E2E8F0;
$background-4: #f6f8fe;
$background-success: #e6f4ed;
$background-error: #faeced;

/*basic colors */
$black: #191b1d;
$black-full: #000;
$white: #fff;
$gray: #edf0ef;
$neutral: #f4f6f8;
$baby-blue: #BEFBFF;