@import '../../../styles/theme/theme.scss';

.buttons-wrapper {
  display: flex;
  align-items: center;
}
.buttons-wrapper-doc{
  display: flex;
  align-items: center;
}
/* base styling for our button */
.btn {
  @include body-text;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  color: $white;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  letter-spacing: 1.25;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: space-around;
  margin: $Spacing-S;
  &:hover:not([disabled]) {
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:disabled {
    opacity: 0.35;
    pointer-events: none;
  }
}
.btn-with-radius {
  border-radius: calc(1.2rem + 14px);
  outline: none;
  &:hover:not([disabled]) {
    background-color: $black-full;
    & > span {
      animation: moveArrow 0.35s ease-in;
      animation-fill-mode: both;
    }
  }
  &:focus,
  :active {
    background-color: $black-full;
  }
}

/* styling for our variants */

.btn-icon {
  border: none;
  background-color: $black;
  color: $white;
  &:hover:not([disabled]) {
    background-color: $black-full;
    & > span {
      animation: moveArrow 0.35s ease-in;
      animation-fill-mode: both;
    }
  }
  &:focus,
  :active {
    background-color: $black-full;
  }
}

.btn-icon.btn-active {
  background-color: $black-full;
  pointer-events: none;
}

.btn-filled {
  border: none;
  background-color: $black;
  color: $white;
  &:hover:not([disabled]) {
    background-color: $black-full;
  }
  &:focus,
  :active {
    background-color: $black-full;
  }
}

.btn-filled.btn-active {
  background-color: $black-full;
  pointer-events: none;
}

.btn-outline {
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  &:hover:not([disabled]) {
    background-color: $neutral;
  }
  &:focus,
  :active {
    background-color: $neutral;
  }
}
.btn-outline.btn-active {
  background-color: $neutral;
  pointer-events: none;
}

.btn-subtle {
  background-color: $neutral;
  color: $black;
  &:hover:not([disabled]) {
    background-color: $gray;
  }
}
.btn-subtle.btn-active {
  background-color: $gray;
  pointer-events: none;
}
.btn-gradient {
  background-image: linear-gradient(
    to right,
    $red-900,
    $red-900,
    $red-800
  );
  background-size: 120% 100%;
  &:hover:not([disabled]) {
    background-position: 600% 0;
  }
}
.btn-gradient.btn-active {
  background-image: linear-gradient(
    to right,
    $red-900,
    $red-900,
    $red-800
  );
  pointer-events: none;
}

/* styling for different size*/

.btn-sm {
  padding: 0.875rem calc(0.875rem * 1.33);
  min-height: 2rem;
  font-size: 0.875rem;
  min-width: 4rem;
}
.btn-md {
  padding: 1rem calc(1rem * 1.33);
  min-height: 2rem;
  font-size: 1rem;
  min-width: 4rem;
}
.btn-lg {
  min-height: 3rem;
  padding: 1.125rem calc(1.125rem * 1.33);
  font-size: 1.125rem;
  min-width: 4rem;
}

.right-icon {
  margin-left: $Spacing-S;
  display: flex;
  align-items: center;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
