@import '../../../styles/theme/theme.scss';

.instruction-text{
    @include body-text;
}
.colors-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $Spacing-S;
    &>div{
        @include description-text;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 8px;
        margin: $Spacing-S;

    }
}
.black-pure{
    color: $white;
    background-color: $black-full;
}
.black-shade{
    color: $white;
    background-color: $black;
}
.white-pure{
    background-color: $white;
    border: 1px solid $gray;
}
.white-shade{
    background-color: $white-shade;
    border: 1px solid $gray;
}
.gray-pure{
    background-color: $gray;
    border: 1px solid $gray;
}
.gray-shade{
    background-color: $neutral;
    border: 1px solid $gray;
}
.green-900{
    background-color: $green-900;
}
.green-800{
    background-color: $green-800;
}
.green-700{
    background-color: $green-700;
}
.green-600{
    background-color: $green-600;
}
.green-500{
    background-color: $green-500;
}
.green-400{
    background-color: $green-400;
}
.green-300{
    background-color: $green-300;
}
.green-200{
    background-color: $green-200;
}
.green-100{
    background-color: $green-100;
}
.red-900{
    background-color: $red-900;
}
.red-800{
    background-color: $red-800;
}
.red-700{
    background-color: $red-700;
}
.red-600{
    background-color: $red-600;
}
.red-500{
    background-color: $red-500;
}
.red-400{
    background-color: $red-400;
}
.red-300{
    background-color: $red-300;
}
.red-200{
    background-color: $red-200;
}
.red-100{
    background-color: $red-100;
}

.blue-900{
    background-color: $blue-900;
}
.blue-800{
    background-color: $blue-800;
}
.blue-700{
    background-color: $blue-700;
}
.blue-600{
    background-color: $blue-600;
}
.blue-500{
    background-color: $blue-500;
}
.blue-400{
    background-color: $blue-400;
}
.blue-300{
    background-color: $blue-300;
}
.blue-200{
    background-color: $blue-200;
}
.blue-100{
    background-color: $blue-100;
}

.yellow-900{
    background-color: $yellow-900;
}
.yellow-800{
    background-color: $yellow-800;
}
.yellow-700{
    background-color: $yellow-700;
}
.yellow-600{
    background-color: $yellow-600;
}
.yellow-500{
    background-color: $yellow-500;
}
.yellow-400{
    background-color: $yellow-400;
}
.yellow-300{
    background-color: $yellow-300;
}
.yellow-200{
    background-color: $yellow-200;
}
.yellow-100{
    background-color: $yellow-100;
}