
@import '../../../styles/theme/theme.scss';

  .avatar{
    background-color: $pastel-pink-4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;


    &>img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  /* styling for different variants */
  .avatar-round{
    border-radius: 50%;
  }
  .avatar-square{
    border-radius: 8px;
    & > img{
      border-radius: 8px;
    }
  }

  /* styling for different size*/
  .avatar-sm{
    height: 26px;
    width: 26px;

  }
  .avatar-md{
    height: 34px;
    width: 34px;

  }
  .avatar-lg{
    height: 42px;
    width: 42px;

  }

/*avatar disabled*/
.avatar-disabled{
  opacity: .5;
  &>img{
    opacity: .5;
  }
}

.avatar-text{
  padding: 4px;
  font-family: $main-font;
  color: $english-vermillion;
  line-height: 21px;
  letter-spacing: -0.5px;
  font-weight: normal;

}

.avatars-wrapper{
  display: flex;
  align-items: center;

}