@import '../../../styles/theme/theme.scss';

.editableText-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.editableText{
    border: none;
    outline: none;
    padding: 8px;
    :focus{
        border:none;
        outline: none;
    }
}
.editableText-h1{
@include main-heading;
}

.editableText-h2{
    @include subheading;
}

.editableText-h3{
  @include third-heading;
}

.editableText-h4{
    @include fourth-heading;
}

.editableText-h5{
    @include fifth-heading;
}

.editableText-h6{
    @include sixth-heading;

}

.editableText-p{
 @include body-text;
}

.editableText-description{
 @include description-text;
}

.editableText-errorMsg{
    @include error-msg
}

.editableText-successMsg{
  @include success-msg
}