@import '../../../styles/theme/theme.scss';

.inputs-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    & > input{
       outline: none;
       border: 1px solid $black;
       border-radius: 4px;
       padding: 8px 16px;
       margin: 8px 0;
       transition: border .3s ease-in-out;
       :focus{
        border: 1.1px solid $black-full;
       }
       ::placeholder{
        font-size: 14px;
        font-weight: 300;
        color: $black;
       }
    }
}
.text-input-sm{
    font-size: 14px;
    & > input{
        font-size: 14px;
    }
}
.text-input-md{
    font-size: 16px;
    & > input{
        font-size: 16px;
    }
}
.text-input-lg{
    font-size: 18px;
    & > input{
        font-size: 18px;
    }
}

.text-input-focused input{
    border: 1.1px solid $black-full;
}
.text-input-disabled{
    pointer-events: none;
    
    &>input{
        background-color: $gray;
        opacity: .7;
    }
    }
    

.text-input-success{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  & > input{
    border: 1.1px solid $success;
    background-color: $green-100;
  }
  &>svg{
    position: absolute;
    margin-right: 8px;
  }
}

.text-input-error{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  & > input{
    border: 1.5px solid $red-900;
    background: $red-100;
  }
  &>svg{
    position: absolute;
    margin-right: 8px;
  }
}

.text-input-with-icon{
    position: relative;
    &>input{
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
}
.icon-start{
    position: absolute;
    margin-left: 8px;
}

.text-input-subtle input{
    border: none;
    background-color: $background-1;
    transition: background-color .35s ease-in;
    &:focus{
        background-color: $background-3;
        outline: none;
        border: none;
    }
}

.text-input-subtle.text-input-focused {
    & > input{
        background-color: $background-3;
        outline: none;
        border: none;
    }
}
.text-input-subtle.text-input-success{
    & > input{

        background-color: $background-success;
    }
}
.text-input-subtle.text-input-error{
    & > input{

        background-color: $background-error;
    }
}



