@import '../../../styles/theme/theme.scss';

.inputs-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    & > input{
       outline: none;
       border: 1px solid #333;
       padding: 8px 16px;
       margin: 8px 0;
       transition: border .3s ease-in-out;
       :focus{
        border: 1.5px solid #333;
       }
       ::placeholder{
        font-size: 14px;
        font-weight: 400;
        color: #33333360;
       }
    }
}
.text-input-sm{
    font-size: 14px;
    & > input{
        font-size: 14px;
    }
}
.text-input-md{
    font-size: 16px;
    & > input{
        font-size: 16px;
    }
}
.text-input-lg{
    font-size: 18px;
    & > input{
        font-size: 18px;
    }
}

.text-input-focused input{
    border: 1.5px solid #333;
}
.text-input-disabled{
    pointer-events: none;
    opacity: .5;
}

.text-input-success{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  & > input{
    border: 1.5px solid $success;
  }
  &>svg{
    position: absolute;
    margin-right: 8px;
  }
}

.text-input-error{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  & > input{
    border: 1.5px solid $english-vermillion;
  }
  &>svg{
    position: absolute;
    margin-right: 8px;
  }
}

.text-input-with-icon{
    position: relative;
    &>input{
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
}
.icon-start{
    position: absolute;
    margin-left: 8px;
}